.body__wrapper {
    display: flex;                
    align-items: center;                                                                                 
    padding: 60px 20px;                  
    flex-direction: column;       
    justify-content: center;      
  
}

.body__text_heading{
font-size: 43px;
font-weight: 400;
line-height: 58px;
font-family: Roboto;

}

.article__text_small{
  color: rgb(160, 160, 160);
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.8px;
margin-bottom: 20px

}


.design__container{
  width: 100%;
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
} 


.body__linkTeast{
color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 1.4px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
margin-bottom: 20px

}

.design{
  display: flex;
  justify-content: space-evenly;
 padding: 0px 20px;
}

.article__foto{
  max-width: 100%;
}






.article__text {
    text-align: center;
}

.article__text_big {
  font-size: 27px;
font-weight: 400;
line-height: 30px;
    margin-top: 10px;
}

.article__text_small {
    font-size: 1em;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}



@media (max-width: 500px) {
.body__text_small{
font-size: 10px;
}

.article__text_big{
font-size: 23px;
}

.article__text_small{
font-size: 15px;
}
}