.header__wrapper{
 display: flex;
 width: 100%;
 padding: 37px 0px;
 background: rgb(255, 255, 255);
 justify-content: center;
}

.header__wrapper{
  color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 1.4px;
display: flex;
align-items: center;
}

.header__shop{

    display: flex;
    margin: 0px 10px 0px 20px;
    justify-content: flex-start;
}

.logo__img{
display: flex;
justify-content: center;
}

.header__myCart{
 display: flex;
    justify-content: end;
     margin: 0px 10px 0px 20px;
    width: 100%;

}

.header__explore{
  width: 100%;
  display: flex;
  justify-self: start;
}




@media (max-width: 400px) {

  .header__wrapper{
font-size: 7px;
}
.logo__img{
   width: 120px;
  }

}

@media (max-width: 450px) {
  .logo__img{
   width: 145px;
  }

  .header__wrapper{
font-size: 10px;
}
}


.laptope{
  background: url('../img/lapetope.svg');
  background-size: 100%;
  min-height: 504px;
  background-position: center;
  background-size: cover;
  color:  white;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20px;

  
}


.laptope__text{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.laptope__text_big{

font-size: 43px;
font-weight: 400;
line-height: 46px;
}

.body__text_small{
  font-size: 15px;
font-weight: 400;
line-height: 18px;
padding: 20px;
color: gray;

}



@media (max-width: 445px) {
.laptope__text_big{

font-size: 30px;

}



}






@media (max-width: 700px) {
  .laptope {
     min-height: auto;
  }
}